<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted">Crafting Code with Curiosity and Purpose.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">
                        Highly Consistent Distributed in-memory Key-Value Store with Raft Consensus
                        </h4>
                    <p class="text-muted">Built a fault-tolerant distributed key-value store using Raft consensus, handling of read/write operations across a cluster, providing high data reliability and availability using Java, Apache Ratis (Raft), Docker, and gRPC. Implemented state machine replication, and snapshotting mechanisms in Apache Ratis, ensuring efficient state management and fault recovery in the distributed system.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-chart-line fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">DeFi Sentinel – Cryptocurrency Fraud Detection System</h4>
                    <p class="text-muted">Developed batch detection using PySpark on Dataproc to flag flash trades and circular swaps. Implemented real-time anomaly detection on streaming data using Apache Beam and Isolation Forest on Dataflow. Performed graph-based wallet analysis using GraphFrames for PageRank, community detection using Label Propagation, and anomaly detection using KMeans clustering.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-brain fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Surface Crack Detection using Deep Learning</h4>
                    <p class="text-muted">Achieved 99% accuracy on a dataset of 32,137 images, leveraging Convolutional Neural Networks (CNN) Data Augmentation, TensorFlow, Keras, and Python.</p>
                </div>
            </div>
        </div>
    </section>